main > .heading-wrapper {
    display: flex;
    justify-content: center;
    background-color: #0d2640;
    width: 100%;
    height: 34px;
    text-align: center;
    align-items: center;
    color: #fff;
}
