.hero-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 1200px;
}

.hero-wrapper img {
    width: 100%;
    height: auto;
    display: block;
}

.hero img {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}

.hero-text-overlay {
    position: absolute;
    bottom: 10%;
    left: 5%;
    background: rgba(0, 0, 0, 0.5); /* Optional: dark background */
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 40%;
}

.hero-text-overlay h2 {
    margin: 0;
    font-size: 28px;
}

.hero-text-overlay p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
}

.hero picture {
    z-index: 0;
}

.section.hero-container {
    color: #fff;
    background: radial-gradient(
            496.32% 257.59% at -26.17% 99.91%,
            #204566 2.92%,
            #035278 4.4%,
            #025080 11.95%,
            #031e39 48.82%,
            #090a19 69.11%,
            #070716 91.95%,
            #070510 100%
        ),
        radial-gradient(
            155.09% 266.02% at -17.81% 42.75%,
            rgba(8, 6, 18, 0.8) 18.2%,
            rgba(7, 80, 120, 0) 77%
        );
    background-blend-mode: overlay;
}

.hero.block {
    height: 100vh;
}

.hero-wrapper img {
    height: 100vh;
}

.heroimage-wrapper {
    position: absolute;
    bottom: 0%;
    color: #fff;
    left: 8%;
}

.heroimage p:nth-of-type(2) {
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
}

.heroimage p:nth-of-type(3) {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.heroimage-wrapper {
    width: 33%;
}

.join-hands-wrapper {
    font-family: var(--font-rubik);
    font-size: 32px;
    font-weight: 500;
    line-height: 37.92px;
    text-align: left;
    text-underline-position: "from-font";
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    color: #00294d;
}

.hero-wrapper picture {
    width: 1260px;
    margin: 0 auto;
}

.join-hands-wrapper {
    width: 1088px;
    margin: 0 auto;
}

.practitioner.block div div {
    display: flex;
    align-items: center;
    padding: 28px;
    background: rgba(150, 211, 255, 0.102);
    border-radius: 24px;
    width: 13%;
    height: 166px;
    justify-content: center;
    gap: 0px;
}

.practitioner.block div div p {
    margin: 0px;
    text-align: center;
}

.practitioner.block div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    height: auto;
    width: 1088px;
    margin: 0 auto !important;
}

.practitioner.block {
    margin: 96px 0px;
}
